body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/black_jack/ja4XAe.png);
    background-size: cover;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
/* 
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */
 
 #button_start, #button_new_card {
     background-color :  goldenrod;
     color:  #016f32;
     width: 150px;
     padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;

}
